on early-init
    start ueventd

on init
    export PATH /sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /boot
    mkdir /sdcard
    mkdir /sd-ext
    mkdir /datadata
    mkdir /emmc
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /efs
    mount /tmp /tmp tmpfs

    chown root shell /tmp
    chmod 0775 /tmp

    write /sys/class/android_usb/android0/iSerial ${ro.serialno}

on early-fs
    mount tmpfs tmpfs /tmp mode=0755 
   
    wait /dev/block/mmcblk0p19
    mount ext4 /dev/block/mmcblk0p19 /efs nosuid nodev barrier=1
    mount ext4 /dev/block/mmcblk0p16 /system wait
   
    # verfiy filesystem (UMS)
    exec apply_system_policy /dev/block/mmcblk0p23 vfat

on fs
    mount tmpfs tmpfs /tmp

on post-fs

    write /proc/sys/kernel/panic_on_oops 1
    write /proc/sys/kernel/hung_task_timeout_secs 0
    write /proc/cpu/alignment 4
    write /proc/sys/kernel/sched_latency_ns 10000000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 2000000
    write /proc/sys/kernel/sched_compat_yield 1
    write /proc/sys/kernel/sched_child_runs_first 0

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    ifup lo
    hostname localhost
    domainname localdomain

    write /sys/class/android_usb/android0/iManufacturer Samsung
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/f_mass_storage/inquiry_string ${ro.product.manufacturer}

    class_start default

service ueventd /sbin/ueventd
    critical

service recovery /sbin/recovery

# adbd is controlled by the persist.service.adb.enable system property
service adbd /sbin/adbd
    disabled

# Always start adbd on userdebug and eng builds
# In recovery, always run adbd as root.
on property:ro.debuggable=1
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04e8
    write /sys/class/android_usb/android0/idProduct 685e
    write /sys/class/android_usb/android0/functions mass_storage,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state mass_storage,adb
    setprop sys.usb.config mass_storage,adb
    setprop service.adb.root 1

# Restart adbd so it can run as root
on property:service.adb.root=1
    restart adbd

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd